<?xml version="1.0" ?>
<robot name="urdf_briobot" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find urdf_briobot_description)/urdf/materials.xacro" />
<xacro:include filename="$(find urdf_briobot_description)/urdf/urdf_briobot.trans" />
<xacro:include filename="$(find urdf_briobot_description)/urdf/urdf_briobot.gazebo" />
<link name="base_link">
  <inertial>
    <origin rpy="0 0 0" xyz="0.10319571694810317 2.4424255185476127e-08 0.08376967277926398"/>
    <mass value="9.658168325363642"/>
    <inertia ixx="0.167413" ixy="0.0" ixz="-8.1e-05" iyy="0.271238" iyz="-0.0" izz="0.394278"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
      <mesh filename="package://urdf_briobot_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
      <mesh filename="package://urdf_briobot_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Battery_v2_1">
  <inertial>
    <origin rpy="0 0 0" xyz="-1.2413955110007757e-05 0.05000011345483882 0.04999525052545398"/>
    <mass value="11.77379066110205"/>
    <inertia ixx="0.019619" ixy="0.0" ixz="8e-06" iyy="0.031887" iyz="-0.0" izz="0.031886"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="-0.1 -0.0915 -0.027"/>
    <geometry>
      <mesh filename="package://urdf_briobot_description/meshes/Battery_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="-0.1 -0.0915 -0.027"/>
    <geometry>
      <mesh filename="package://urdf_briobot_description/meshes/Battery_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Battery_v2_2">
  <inertial>
    <origin rpy="0 0 0" xyz="-1.2413955110202046e-05 -0.04999988927207277 0.04999525052545391"/>
    <mass value="11.77379066110205"/>
    <inertia ixx="0.019619" ixy="0.0" ixz="8e-06" iyy="0.031887" iyz="-0.0" izz="0.031886"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="-0.1 0.0915 -0.027"/>
    <geometry>
      <mesh filename="package://urdf_briobot_description/meshes/Battery_v2_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver_default"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="-0.1 0.0915 -0.027"/>
    <geometry>
      <mesh filename="package://urdf_briobot_description/meshes/Battery_v2_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="Rigid10" type="fixed">
  <origin rpy="0 0 0" xyz="0.1 0.0915 0.027"/>
  <parent link="base_link"/>
  <child link="Battery_v2_1"/>
</joint>

<joint name="Rigid11" type="fixed">
  <origin rpy="0 0 0" xyz="0.1 -0.0915 0.027"/>
  <parent link="base_link"/>
  <child link="Battery_v2_2"/>
</joint>

</robot>
